:root {
  --gradient-color1: #833ab4; /* Dark purple */
  --gradient-color2: #fd1d1d; /* Red */
  --chat-background-color: rgba(255, 255, 255, 0.1); /* Transparent white */
  --color1: rgba(255, 255, 255, 0.7); /* White with transparency */
  --color2: rgba(255, 255, 255, 0.9); /* White with higher transparency */
  --color3: #ffffff; /* White */
  --text-color: #000000; /* Black */
  --placeholder-color: #808080; /* Gray */
  --border-thick: 2px solid rgba(0, 0, 0, 0.5); /* Black with transparency */
  --border-thin: 1px solid rgba(0, 0, 0, 0.2); /* Black with lower transparency */
}



*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color1);
}

::-webkit-scrollbar-thumb {
  background: var(--color2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color2);
}
